.main {
  display: flex;

  text-align: center;
  margin-top: 30px;
  width: 90%;
  height: 90vh;
  gap: 5%;
}
.flex_row {
  justify-content: space-between;
  display: flex;
  margin-left: 5%;
  flex-direction: column;
}

.thumbnail {
  padding-left: 20px;
}
